$color-1: #673ab7;
$color-2: #ffc107;
$color-3: #e91e63;
$bg-color: var(--bg-color);
$text-color: var(--text-color);
$box-shadow: var(--box-shadow);
$text-color2: var(--text-color2);
$t-color: var(--t-color);
$c-color: var(--c-color);

// fonts
$font-1: var(--merienda-bold);
$font-2: var(--arima);
$font-4: var(--marmelad);
$font-3: 'Basic', sans-serif;
$font-t: 'Playball', cursive;
$font-c: 'Kaushan Script', cursive;

// social colors
$fb: var(--fb-color);
$ig: var(--insta-color);
$pinterest: var(--pinterest-color);
$twitter: var(--twitter-color);
