{
	"useTabs": true,
	"tabWidth": 2,
	"htmlWhitespaceSensitivity": "ignore",
	"trailingComma": "all",
	"singleQuote": true,
	"semi": true,
	"printWidth": 100,
	"pluginSearchDirs": ["."],
	"svelteSortOrder": "scripts-styles-markup",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true
}
